<nav id="headerSIDEC" class="navbar navbar-expand-md navbar-light bg-light">
  <div class="navbar-brand">
    <img src="assets/img/logo.jpg" height="99px" alt="">
  </div>

  <div class="containerTitle d-none d-sm-none d-md-block">
    <h1>{{ title }}</h1>
  </div>

  <div class="containerSIDEC">

    <div class="containerSIDEC">
      <button class="navbar-toggler navbar-togglerSIDEC" type="button" data-toggle="collapse" data-target="#navbarSIDEC" aria-controls="navbarSIDEC"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarSIDEC">
        <ul class="navbar-nav mr-auto">
          <!-- Link -->
          <li class="nav-item active">
            <a class="nav-link" href="">
              <span class="glyphicon glyphicon-th-list"></span> INBOX
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="NovaSolicitacao">
              <span class="glyphicon glyphicon-edit"></span> NOVA SOLICITAÇÃO
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Pesquisa">
              <span class="glyphicon glyphicon-search"></span> PESQUISA
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" (click)="logout()">
              <span class="glyphicon glyphicon-log-out"></span> Logout
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</nav>